*{
	font-family: Bahnschrift;
}
/*font address list*/
@font-face
{
	font-family: Bahnschrift;
	src: url('../fonts/BAHNSCHRIFT.TTF');
}

@font-face
{
	font-family: constantia;
	src: url('../fonts/Constantia Font.ttf');
}

/*category page header = nav menu + top banner*/
.header{
	width: 100%;
	height: 4em;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em;
}
.main-nav a{
  text-decoration: none;
  color: #1B1B1B;
  padding: 0em 0.5em;
  font-size: 1.1em;
}
  
.nav-left{
	font-family: Bahnschrift;
  font-weight: bold;
  flex-basis: 25%;
}
.nav-left a:hover{
  font-size: 120%;
}
.nav-logo{
  flex-basis: 50%;
  text-align: center; 
}
.nav-logo a{
  font-family: Constantia;
  font-weight: bold;
  font-size: 2em;
}
.nav-logo i{
  font-size: 2em;
  color: #1B1B1B;
}
.nav-right{
	font-family: Bahnschrift;
  font-weight: bold;
  flex-basis: 25%;
  text-align: right;  
}
.nav-right a:hover{
  font-size: 120%;
}
#top-banner-image{
	width: 100%;
	margin-bottom: 1em;
}
/*category page body section = sub nav menu + product list*/
/*.body{
	width: 80vw;
	height: 40em;
	background-color: gray;
	border: 1px solid red;
	margin: 1em 0;
}*/
.main{
	display: flex;
	justify-content: space-around;
}

.main-side-menu{
	flex-basis: 20%;
	height: 40em;
	border: 1px solid #787878;
}
.side-menu-top{
	width:80%;
	height: 40%;
	margin: 1em auto;
	display: block;
}
.side-menu-bottom{
	width: 80%;
	height: 40%;
	margin: 1em auto;
	display: block;
}
.main-product-list{
	flex-basis: 70%;
	background-color: #E1E1E1;
	
}
.list-first-column{
	display: flex;
	justify-content: space-around;
}
.list-second-column{
	display: flex;
	justify-content: space-around;

}
.single-product img{
	width: 100%;
}
.single-product{
	margin: 2em 1em;
}

.product-list-page-button{
	display: flex;
	justify-content: center;
	margin: 3em 0;
}
.product-list-page-button a{
	margin: 0 1em;
	color: black;
	text-decoration: none;
}
.product-list-page-button a:hover{
	margin: 0 1em;
	color: #999999;
	text-decoration: underline;
}
/*category page footer*/
.footer{
	background-color:#454545;
	height: 16em;
	margin: 1em 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.category-footer-left{
	flex-basis: 30%;
	height:80%;
	background-color: #787878;
	align-items: center;
}
.category-footer-right{
	flex-basis: 30%;
	height:80%;
	background-color: #787878;
}


@media (max-width: 555px){
	.main-side-menu{
		display: none;
	}
	.list-first-column{
		display: block;
		flex-basis: 100%;
	}
	.list-second-column{
		display: block;
		flex-basis: 100%;
	}
	.header{
		font-size: 0.5em;
	}
}