@font-face
{
  font-family: Bahnschrift;
  src: url('../fonts/BAHNSCHRIFT.TTF');
}

@font-face
{
  font-family: constantia;
  src: url('../fonts/Constantia Font.ttf');
}

/*Main Navigation Start*/

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em;
}
.main-nav a{
  text-decoration: none;
  color: #1B1B1B;
  padding: 0em 0.5em;
  font-size: 1.1em;
}

.nav-left{
  font-family: Bahnschrift;
  font-weight: bold;
  flex-basis: 25%;
}
.nav-left a:hover{
  font-size: 120%;
}


.nav-logo{
  flex-basis: 50%;
  text-align: center; 
}
.nav-logo a{
  font-family: Constantia;
  font-weight: bold;
  font-size: 2em;
}
.nav-logo i{
  font-size: 2em;
  color: #1B1B1B;
}

.nav-right{
  font-family: Bahnschrift;
  font-weight: bold;
  flex-basis: 25%;
  text-align: right;  
}
.nav-right a:hover{
  font-size: 120%;
}

/*Main Navigation End*/



/*Content on left Start*/

.checkout {
  font-family: Bahnschrift;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5em;
}

input[type=email] {
  width: 100%;
  height: 2em;
  margin-bottom: 1em;
  border: 1px solid #1B1B1B;
  border-radius: 3px;
}

.contact-info label {
  font-size: 0.8em;
}

input[type=text] {
  width: 100%;
  height: 2em;
  margin-bottom: 1em;
  border: 1px solid #1B1B1B;
  border-radius: 3px;
}

.shipping-info label {
  font-size: 0.8em;
}

select {
  width: 101%;
  height: 2em;
  margin-bottom:1em;
  border: 1px solid #1B1B1B;
  border-radius: 3px;
}

.submit-button {
  text-align: right;
}

.submit {
  font-family: Bahnschrift;
  display: inline-block;
  padding: 0.5em 0.9em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border: 1px solid #1B1B1B;
  color: #FFFFFF;
  background-color: #1B1B1B;
  border-radius: 0.25em;
  text-decoration: none;
  opacity: 1;
  transition: 0.8s;
}

.submit:hover, .submit:focus {
  opacity: 0.5;
}

.checkout-page {
  display:flex;
  justify-content: center;
}

.checkout-page>div {
  flex-basis:70%;
  margin: 3em 10em;
}
/*Content on left End*/



/*Content on right Start*/

.order-summary { 
  display:flex;
  justify-content: center;
}

.order-title {
  text-align: center;
}

.order-summary>div {
  flex-basis:40%;
  margin:5em;
}

.left-row {
  text-align: left;
}

.right-row {
  text-align: right;
}

.final-price {
  font-weight: bold;
  font-size: 1.2em;
}


/*Content on right End*/


