*{
	font-family: Bahnschrift;
	box-sizing: border-box;
}
/*font address list*/
@font-face
{
	font-family: Bahnschrift;
	src: url('../fonts/BAHNSCHRIFT.TTF');
}

@font-face
{
	font-family: constantia;
	src: url('../fonts/Constantia Font.ttf');
}

/*category page header = nav menu + top banner*/
body{
	margin: 0;
	padding: 0;
}
.header{
	width: 100%;
	height: 4em;
	margin-bottom: 2em;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em;
}
.main-nav a{
  text-decoration: none;
  color: #1B1B1B;
  padding: 0em 0.5em;
  font-size: 1.1em;
}
.menu-expand{
	display: none;
	width: 30%;
}
#menuCheck{
	display: none;
}
.nav-left{
	font-family: Bahnschrift;
  	font-weight: bold;
  	flex-basis: 35%;
}
.nav-left a:hover{
  font-size: 120%;
}
.nav-logo{
  flex-basis: 30%;
  text-align: center; 
}
.nav-logo a{
  font-family: 'Black Ops One', cursive;
  font-weight: bold;
  font-size: 2em;
}

.nav-right{
	font-family: Bahnschrift;
  	font-weight: bold;
  	flex-basis: 35%;
  	text-align: right;  
}
.nav-right a:hover{
  font-size: 120%;
}
#top-banner-image img{
	width: 100%;
	margin:0;
}
/*contact page main = contact info + input gird */
.main-title{
	text-align: center;
}
h1{
	font-family: Constantia;
}
.main{
	margin: 1em 0;
	display: flex;
}
.main-left-input{
	flex-basis: 50%;
	/*border: 1px solid red;*/
}
.main-left-input div{
	width: 50%;
	margin-top: 3em;
	margin-left: auto;
	/*border: 1px solid red;
*/
}
.main-left-input label{
	display: block;
}
.main-left-input input{
	width: 100%;
	height: 2em;
	border: 1px solid #1B1B1B;
}
.main-left-input textarea{
	width: 100%;
	height: 10em;
	border: 1px solid #1B1B1B;
}

.submit {
  font-family: Bahnschrift;
  /*display: block;*/
  border: 1px solid #1B1B1B;
  color: #FFFFFF;
  background-color: black;
  border-radius: 0.25em;
  text-decoration: none;
  opacity: 1;
  transition: 0.8s;
}

.submit:hover, .submit:focus {
  opacity: 0.5;
}

.main-right-info{
	flex-basis: 50%;
}
.main-right-info div{
	width: 30%;
	margin: 3em auto;
}
.main-right-info i{
	font-size: 2em;
}

/* contact page footer style*/

.footer {
  display:flex;
  color: white;
  justify-content: space-around;
  text-align:left;
  padding:4em 2em;
  background-color: #454545;
  font-family: Bahnschrift;
}

.footer i {
  font-size: 2em;
  margin-top: 0.9em;
  margin-right:0.3em;
}

.footer-left div {
  display: flex;
  font-size: 1.2em; 
  flex-basis:30%;
}

.corporation {
  text-align: left;
  padding-bottom: 1.2em;
  font-size: 1.1em;
}

.links {
  padding-top: 1.2em;
  display: flex;
  flex-direction: row;
}

.links a {
  color: white;
  padding-right:1em;
}
@media (max-width: 1180px){
	.main-left-input{
		flex-basis: 50%;
	}
	.main-left-input div{
		width: 70%;
		margin-top: 3em;
		margin-left: auto;
	}
}

@media (max-width: 980px){
	.header{
		font-size: 0.8em;
	}
  	.nav-left{
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: 6em;
		left: 0;
		background-color: white;
		z-index: 100;
		padding-top: 30%;
	}
	.nav-left a{
		width: 100%;
		text-align: center;
		line-height: 500%;
	}

	.menu-expand{
		display: block;
	}
	#menuCheck ~ nav{
		display: none;
	}
	#menuCheck:checked ~ nav{
		display: block;
	}
	.nav-left a{
		display: block;
	}
	.main-left-input{
		flex-basis: 50%;
	}
	.main-left-input div{
		width: 80%;
		margin-top: 3em;
		margin-left: auto;
	
	}
}
@media (max-width: 910px){
	.main-right-info div{
		width: 50%;
		margin: 3em auto;
	}
	.main-right-info i{
		font-size: 1em;
	}
	.main-title{
		width: 80%;
		margin: 0 auto;
	}
}

@media (max-width: 600px){
	.main{
		flex-direction: column;
	}
	.main-left-input{
		flex-basis: 100%;
	}
	.main-left-input div{
		width: 80%;
		margin-top: 3em;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.main-right-info div{
		width: 40%;
		margin: 3em auto;
		text-align: center;
	}
}
/*footer response for mobile*/
@media (max-width: 760px){
  .footer{
    font-size: 80%;
  }
}
@media (max-width: 470px){
  .footer{
    flex-direction: column;
    justify-content: center;
  }
  .footer>div{
    flex-basis: 60%;
    margin: 2em auto;
  }
  .footer-right>div{
    text-align: center;
  }
 
}
/*DONE*/








