@font-face
{
  font-family: Bahnschrift;
  src: url('../fonts/BAHNSCHRIFT.TTF');
}

@font-face
{
  font-family: constantia;
  src: url('../fonts/Constantia Font.ttf');
}
/*Main Navigation Start*/

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em;
}
.main-nav a{
  text-decoration: none;
  color: #1B1B1B;
  padding: 0em 0.5em;
  font-size: 1.1em;
}

.nav-left{
  font-family: Bahnschrift;
  font-weight: bold;
  flex-basis: 25%;
}
.nav-left a:hover{
  font-size: 120%;
}


.nav-logo{
  flex-basis: 50%;
  text-align: center; 
}
.nav-logo a{
  font-family: Constantia;
  font-weight: bold;
  font-size: 2em;
}
.nav-logo i{
  font-size: 2em;
  color: #1B1B1B;
}

.nav-right{
  font-family: Bahnschrift;
  font-weight: bold;
  flex-basis: 25%;
  text-align: right;  
}
.nav-right a:hover{
  font-size: 120%;
}

/*Main Navigation End*/

/*Home Page Content Start*/

* {
  box-sizing: border-box;
}

html .grid{
  background-color: #999999;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.header{
  text-align:center;
  display:flex;
  flex-direction: column;
  padding:2.5em;
  background:white;
}

.banner img{
  width: 100%;
}

.slogan {
  font-family: Constantia;
  text-align:center;
  display:flex;
  flex-direction: column;
  padding:8em 2.5em;
  background-color: #FFFFFF;
}

.promotion{
  display:flex;
  justify-content: center;
  text-align:center;
}

.promotion a {
  color:black;
}

.promotion>div {
  flex-basis:35%;
  margin:5em;
}

.promotion>div img {
  margin-bottom: 2em;
  width: 100%;
}

.title {
  font-family: Constantia;
  text-align:center;
  display:flex;
  flex-direction: column;
  padding:4em 2.5em;
  background-color: #FFFFFF;
}

.item-window{
  display:flex;
  justify-content: space-around;
  text-align:center;
}

.item-window a {
  margin-top: 2em;
  color:black;
}

.item-window>div {
  flex-basis:20%;
  margin:5em;
}

.item-window>div img{
  margin-bottom: 2em;
  width: 100%;
}

.our-story{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  font-family: Constantia;
}

.our-story h2 {
  margin:2em;
}

.our-story a {
  color:black;
}

.our-story>div {
  flex-basis:70%;
}

.our-story>div img {
  margin-bottom: 3em;
  width: 60%;
}

.story-content {
  text-align: left;
  margin-left: 15em;
  margin-right: 15em;
  margin-bottom: 2em;
  font-size: 1.1em;
  font-family: Bahnschrift;
  line-height: 200%;
}

.in-text-link {
  font-family: Bahnschrift;
  display: inline-block;
  color: #1B1B1B;
  font-size: 1.1em;
  font-weight: bold;
}

.in-text-link:hover {
  color: #999999;
  text-decoration: underline;
}

.in-text-link:focus {
  background-color: #E1E1E1;
}

.home-content h2 {
  font-size: 2.5em;
}

/*Home Page Content End*/


.footer {
  display:flex;
  color: white;
  justify-content: space-around;
  text-align:center;
  padding:5em 2.5em;
  background-color: #454545;
  font-family: Bahnschrift;
}

.footer i {
  font-size: 2em;
  margin:0.1em 0.7em;
}

.footer h3 {
  font-size: 2em;
}

.footer>div {
  flex-basis:40%;
}