*{
	font-family: Bahnschrift;
}
/*font address list*/
@font-face
{
	font-family: Bahnschrift;
	src: url('../fonts/BAHNSCHRIFT.TTF');
}

@font-face
{
	font-family: constantia;
	src: url('../fonts/Constantia Font.ttf');
}

/*product page header = menu + logo*/
.header{
	width: 100%;
	height: 4em;
	margin-bottom: 1em;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em;
}
.main-nav a{
  text-decoration: none;
  color: #1B1B1B;
  padding: 0em 0.5em;
  font-size: 1.1em;
}
  
.nav-left{
	font-family: Bahnschrift;
	font-weight: bold;
  	flex-basis: 25%;
}
.nav-left a:hover{
  font-size: 120%;
}
.nav-logo{
  flex-basis: 50%;
  text-align: center; 
}
.nav-logo a{
  font-family: Constantia;
  font-weight: bold;
  font-size: 2em;
}
.nav-logo i{
  font-size: 2em;
  color: #1B1B1B;
}
.nav-right{
	font-family: Bahnschrift;
  	font-weight: bold;
  	flex-basis: 25%;
  	text-align: right;  
}
.nav-right a:hover{
  font-size: 120%;
}
/*product page body = item detail + image*/
.main{
	width: 100%;
	margin: 1em 0;
}
.main-top{
	display: flex;
	border-top: 1px solid gray;
}
.top-left-image{
	flex-basis: 50%;
	border-right:1px solid gray;
	display: flex;
	justify-content: space-around;
}
/*.top-left-image img{
	flex-basis: 60%;
}*/
.top-right-text{
	flex-basis: 50%;
	height: 20em;
	text-align: center;
} 
.product-color{
	display: flex;
	padding-bottom: 1em;
	justify-content: center;
}
.color-white{
	background-color: white;
	border: 1px solid black;
	width: 1em;
	height:1em;
	border-radius: 50px;
	margin:0 1em;
}
.color-black{
	background-color: black;
	border: 1px solid black;
	width: 1em;
	height:1em;
	border-radius: 50px;
}

/*sample code of button*/
.button-nav-page {
  display: inline-block;
  padding: 0.6em 0.9em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: #FFFFFF;
  background-color: #1B1B1B;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
}

.button-nav-page span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-nav-page span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-nav-page:hover span {
  padding-right: 25px;
}

.button-nav-page:hover span:after {
  opacity: 1;
  right: 0;
}
/*DONE*/
.product-detail-info{
	margin-top: 1em;
	width: 80%;	
	height: 10em;
	margin-left: auto;
	margin-right: auto;
}
.product-detail-image{
	margin-top: 1em;
	text-align: center;
}
.detail-top{
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.detail-top img{
	flex-basis: 30%;
	height: 15em;
}
.detail-top p{
	flex-basis: 40%;
	height: 15em;
}
.detail-bottom{
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.detail-bottom img{
	flex-basis: 30%;
	height: 15em;
}
.detail-bottom p{
	flex-basis: 40%;
	height: 15em;
}



.detail-bottom{
	display: flex;
	justify-content: space-around;
}
h2{
	text-align: center;
}
.product-specs{
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.specs-left{
	flex-basis: 30%;
}
.specs-right{
	flex-basis: 30%;
}
.similar-products{
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.similar1{
	width: 40%;
	height: 15em;
	background-color: #787878;
	display: flex;
}

.similar2{
	width: 40%;
	height: 15em;
	background-color: #787878;
	display: flex;
}
/*product page footer*/
.footer{
	width: 100%;
	height: 16em;
	background-color: #999999;
	margin: 1em 0;
	text-align: center;
}


@media (max-width: 555px){
	.header{
		font-size: 0.5em;
	}
	.main-top{
		display: block;
		border: none;
	}
	.top-left-image{
		border:none;
	}
	.top-left-image img{
		width: 100%;
	}
	.detail-top{
		display: block;
	}
	.detail-bottom{
		display: block;
	}
	.product-specs{
		display: block;
	}
	.specs.right{
		width: 100%;
	}
	.similar-products{
		display: block;
	}
	
}